{% extends "import.html" %}
{% block content %}
<div class="web_form">
    <center>
        <div class="container">
            <div class="infoAll">
                <div class="sliderflex">
                    <div class="infoSlide">
                        <h2 class="mb-5"> О нас</h2>
                        <p>
                            Медицинский центр «HB» работает на благо здоровья с 2024 года.
                            Наша система на сегодняшний день использует и применяется с современными новейшие технологии. 
                            Обеспечивает максимальную точность при выявлении опухолей головного мозга.
                        </p>
                        <p>
                            Наряду с развитием искусственного интеллекта модели машинного обучения сейчас широко применяются во многих профессиях, 
                            и здравоохранение не является исключением.
                        </p>
                    </div>
                    <div class="imgSlide">
                        <img src="../static/img/13.jpg" alt="Girl in a jacket" width="450" height="400">
                    </div>
                </div>
                <div class="planCenter">
                    <div class="textCenter">
                        <br>
                        <h2 style="color: rgb(2, 70, 70);" >ЦЕЛИ МЕДИА ЦЕНТРА HB</h2> <br>
                        <h5 >Задачей медицины является использования deep learning для проанализировать МРТ-изображения мозга, 
                            но и предупреждение угроз здоровью человека. Поэтому повышение грамотности населения в медицинской сфере позволяет предотвращать 
                            и своевременно решать проблемы, обеспечивать здоровье и долголетие.
                        </h5> <br>
                    </div>
                </div>
                <div class="infoMoz">
                    
                </div>
                <div class="sliderflex">
                    <div class="imgSlide">
                        <img itemprop="image" src="../static/img/nao.jpg" alt="Опухоль головного мозга">
                    </div>
                    <div class="infoSlide">
                        <h2 class="mb-5"> Что такое Опухоль мозга ?</h2>
                        <p>
                            Опухоль мозга – это объемное образование, которое формируется внутри черепной коробки.
                            Оно может поражать как непосредственно ткани мозга, так и окружающие структуры: сосуды, нервы, мозговые оболочки и т.п. Проявления зависят от расположения и размера опухоли.
                            В зависимости от ситуации, пациенту требуется хирургическое или консервативное лечение.
                        </p>
                        <a href="https://engincakar.com/ru/brain-injury-ru/brain-tumour-ru/" class="linkBrain"> Показать полностью </a>
                    </div>
                </div>
                
            </div>
        </div>
    </center>
</div>
{% endblock %}